@font-face {
    font-family: 'coinyregular';
    src: url('~assets/coiny-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.error-message {
    margin: 0;
    margin-top: .5rem;
    color: red;
    font-size: 0.8rem;
}